$default-font: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
  Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$default-font-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

$file-formats: woff2 woff ttf;
